
<mat-toolbar> 
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip style="background-color: rgb(102, 200, 200);">
            <span style ="color:white; justify-content: left;font-size: 25px;">Super-Admin </span>
        </mat-chip>
      </mat-chip-list>
    
  
    <span class="example-spacer"></span> 
    
    <a  (click)="goToHome()">Home</a>
   <a  (click)="goToDrivers()">Drivers</a>
    <a (click)="goToPassengers()">Passengers</a>
    <a (click)="goToOrders()">Orders</a> 
    <a (click)="goToMaps()">Maps</a> 
 
   
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
        <mat-chip style="background-color: rgb(102, 200, 200);">
          <a (click)="logout()" style="color:white;">Log out</a>
        </mat-chip>
      </mat-chip-list></mat-toolbar>

<div class="full" id="map">

</div>