
<mat-toolbar>   <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
  <mat-chip style="background-color: rgb(102, 200, 200);">
      <span style ="color:white; justify-content: left;font-size: 25px;">Super-Admin </span>
  </mat-chip>
</mat-chip-list>
    <span class="example-spacer"></span> 
    <a  (click)="goToHome()">Home</a>
   <a  (click)="goToDrivers()">Drivers</a>
    <a (click)="goToPassengers()">Passengers</a>
    <a (click)="goToOrders()">Orders</a> 
    <a (click)="goToMaps()">Maps</a> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <span class="example-spacer"></span> 
    <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
      <mat-chip style="background-color: rgb(102, 200, 200);">
        <a (click)="logout()" style="color:white;">Log out</a>
      </mat-chip>
    </mat-chip-list></mat-toolbar>
 <div class="background">

  <h1>Uber Taxi Passenger list</h1>

 <table mat-table [dataSource]="drivers[0]" class="mat-elevation-z8" *ngIf="drivers">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Firstname </th>
    <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Lastname </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Phone </th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>



 

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button style="background-color:#32b5c1;color:white" (click)="goToPassengerInfo(element.id)">More Info</button>
          <button mat-raised-button style="background-color:#c13247;color:white">Delete</button></td>
      </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  
 </div>